.c_1j8i8bf {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.c_1dlkxbt {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: rgb(17 24 39);
}

.c_9ngaqo {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(107 114 128);
  margin-top: 0.25rem;
}
