@reference "tailwindcss";
.value0 {
  transform: translateX(-100%);
}

.value1 {
  transform: translateX(-99%);
}

.value2 {
  transform: translateX(-98%);
}

.value3 {
  transform: translateX(-97%);
}

.value4 {
  transform: translateX(-96%);
}

.value5 {
  transform: translateX(-95%);
}

.value6 {
  transform: translateX(-94%);
}

.value7 {
  transform: translateX(-93%);
}

.value8 {
  transform: translateX(-92%);
}

.value9 {
  transform: translateX(-91%);
}

.value10 {
  transform: translateX(-90%);
}

.value11 {
  transform: translateX(-89%);
}

.value12 {
  transform: translateX(-88%);
}

.value13 {
  transform: translateX(-87%);
}

.value14 {
  transform: translateX(-86%);
}

.value15 {
  transform: translateX(-85%);
}

.value16 {
  transform: translateX(-84%);
}

.value17 {
  transform: translateX(-83%);
}

.value18 {
  transform: translateX(-82%);
}

.value19 {
  transform: translateX(-81%);
}

.value20 {
  transform: translateX(-80%);
}

.value21 {
  transform: translateX(-79%);
}

.value22 {
  transform: translateX(-78%);
}

.value23 {
  transform: translateX(-77%);
}

.value24 {
  transform: translateX(-76%);
}

.value25 {
  transform: translateX(-75%);
}

.value26 {
  transform: translateX(-74%);
}

.value27 {
  transform: translateX(-73%);
}

.value28 {
  transform: translateX(-72%);
}

.value29 {
  transform: translateX(-71%);
}

.value30 {
  transform: translateX(-70%);
}

.value31 {
  transform: translateX(-69%);
}

.value32 {
  transform: translateX(-68%);
}

.value33 {
  transform: translateX(-67%);
}

.value34 {
  transform: translateX(-66%);
}

.value35 {
  transform: translateX(-65%);
}

.value36 {
  transform: translateX(-64%);
}

.value37 {
  transform: translateX(-63%);
}

.value38 {
  transform: translateX(-62%);
}

.value39 {
  transform: translateX(-61%);
}

.value40 {
  transform: translateX(-60%);
}

.value41 {
  transform: translateX(-59%);
}

.value42 {
  transform: translateX(-58%);
}

.value43 {
  transform: translateX(-57%);
}

.value44 {
  transform: translateX(-56%);
}

.value45 {
  transform: translateX(-55%);
}

.value46 {
  transform: translateX(-54%);
}

.value47 {
  transform: translateX(-53%);
}

.value48 {
  transform: translateX(-52%);
}

.value49 {
  transform: translateX(-51%);
}

.value50 {
  transform: translateX(-50%);
}

.value51 {
  transform: translateX(-49%);
}

.value52 {
  transform: translateX(-48%);
}

.value53 {
  transform: translateX(-47%);
}

.value54 {
  transform: translateX(-46%);
}

.value55 {
  transform: translateX(-45%);
}

.value56 {
  transform: translateX(-44%);
}

.value57 {
  transform: translateX(-43%);
}

.value58 {
  transform: translateX(-42%);
}

.value59 {
  transform: translateX(-41%);
}

.value60 {
  transform: translateX(-40%);
}

.value61 {
  transform: translateX(-39%);
}

.value62 {
  transform: translateX(-38%);
}

.value63 {
  transform: translateX(-37%);
}

.value64 {
  transform: translateX(-36%);
}

.value65 {
  transform: translateX(-35%);
}

.value66 {
  transform: translateX(-34%);
}

.value67 {
  transform: translateX(-33%);
}

.value68 {
  transform: translateX(-32%);
}

.value69 {
  transform: translateX(-31%);
}

.value70 {
  transform: translateX(-30%);
}

.value71 {
  transform: translateX(-29%);
}

.value72 {
  transform: translateX(-28%);
}

.value73 {
  transform: translateX(-27%);
}

.value74 {
  transform: translateX(-26%);
}

.value75 {
  transform: translateX(-25%);
}

.value76 {
  transform: translateX(-24%);
}

.value77 {
  transform: translateX(-23%);
}

.value78 {
  transform: translateX(-22%);
}

.value79 {
  transform: translateX(-21%);
}

.value80 {
  transform: translateX(-20%);
}

.value81 {
  transform: translateX(-19%);
}

.value82 {
  transform: translateX(-18%);
}

.value83 {
  transform: translateX(-17%);
}

.value84 {
  transform: translateX(-16%);
}

.value85 {
  transform: translateX(-15%);
}

.value86 {
  transform: translateX(-14%);
}

.value87 {
  transform: translateX(-13%);
}

.value88 {
  transform: translateX(-12%);
}

.value89 {
  transform: translateX(-11%);
}

.value90 {
  transform: translateX(-10%);
}

.value91 {
  transform: translateX(-9%);
}

.value92 {
  transform: translateX(-8%);
}

.value93 {
  transform: translateX(-7%);
}

.value94 {
  transform: translateX(-6%);
}

.value95 {
  transform: translateX(-5%);
}

.value96 {
  transform: translateX(-4%);
}

.value97 {
  transform: translateX(-3%);
}

.value98 {
  transform: translateX(-2%);
}

.value99 {
  transform: translateX(-1%);
}

.value100 {
  transform: translateX(-0%);
}

.c_1gjbx0b {
  @apply bg-primary/20 relative h-2 w-full overflow-hidden rounded-full;
}

.c_5uxewn {
  @apply bg-primary h-full w-full flex-1 transition-all;
}
