@reference "tailwindcss";
@reference "../../../globals.css";
.toaster {
  --normal-bg: var(--popover);
  --normal-text: var(--popover-foreground);
  --normal-border: var(--border);
}

.c_1mpytb {
  @apply group;
}
